.profile {
}

.profile-back {
   display: flex;
   flex:1;
   margin:10px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('../../img/cardBack.jpg');
}